<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="SearchProviderType" value="TacoChallenge.Search.SearchJsonDataProvider"/>
    <!--Uncomment this to user MS SQL DB-->
    <!--<add key="SearchProviderType" value="TacoChallenge.Search.SearchDbDataProvider"/>-->

  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
